Flask==0.11
Flask-SocketIO==2.4
GraphLab-Create==0.9.0
Jinja2==2.8
MarkupSafe==0.23
PyAudio==0.2.8
Werkzeug==0.11.10
argparse==1.2.2
backports.ssl-match-hostname==3.4.0.2
boto==2.24.0
brewer2mpl==1.4
cli-aoke==1.1.0
click==6.6
decorator==3.4.0
ggplot==0.5.8
html5lib==0.999
itsdangerous==0.24
librato-metrics==0.4.9
lxml==3.3.5
mechanize==0.2.5
mercurial==3.8.3
mixpanel-py==3.1.1
numpy==1.8.1
oauthlib==0.6.3
oct2py==2.4.0
pandasql==0.4.2
patsy==0.2.1
pbr==0.10.0
prettytable==0.7.2
psutil==1.1.3
pydot==1.0.2
pyparsing==1.5.7
python-chess==0.6.0
python-engineio==0.9.1
python-socketio==1.3
python-twitter==1.3.1
requests==2.3.0
requests-oauthlib==0.4.1
scikit-learn==0.14.1
simplejson==3.5.3
six==1.10.0
sklearn-pandas==0.0.9
sqlparse==0.1.6
statsmodels==0.5.0
stevedore==1.1.0
virtualenv-clone==0.2.5
wheel==0.24.0
wsgiref==0.1.2
